{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Add
{% endblock %}

{% block body %}
    <h2>Add a new serie</h2>

    {# déclenche l'affichage du formulaire de SerieType #}
    {# {{ form(serieForm) }}#}

    {# ajout de css #}
    {# début du formulaire #}
    {{ form_start(serieForm) }}
    <div class="machin">
        {# découpage par champs #}
        {{ form_label(serieForm.name) }}
        {{ form_widget(serieForm.name) }}
        {{ form_errors(serieForm.name) }}
    </div>
    {# affichage par défaut du reste du formulaire #}
    {{ form_rest(serieForm) }}
    <button>Add serie</button>
    {# fin du formulaire #}
    {{ form_end(serieForm) }}

{% endblock %}

