<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {# lien pour normaliser style sur tous les navigateurs #}
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">

    {# lien vers page de style css #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    {# liens pour font google #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">

    {# afficher favicon dans onglet de la page #}
    <link rel="icon" href="{{ asset ('img/icon.png') }}">

    <title>{% block title %}Series{% endblock %}</title>

</head>

<body>
{# balise style css spécifique override dans la page details #}
{% block styleCss %} {% endblock %}

{# créer en faisant div.container + tab #}
<div class="container">
    <header>
        {# afficher image cliquable en haut du site + h1 pour le référencement #}
        <h1>
            <a href="{{ path('main_home') }}">
                <img src="{{ asset('img/logo.svg') }}" alt="Series | Home">
            </a>
        </h1>

        {# inclure menu de navigation de la page nav.html.twig #}
        {% include 'menu/nav.html.twig' %}
    </header>
    <main>
        {# afficher messages flash stockés #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}Body par défaut{% endblock %}
    </main>
    <footer>
        {% include 'menu/nav.html.twig' %}
    </footer>
</div>
</body>
</html>

